:root{
    --MainBackgroundColor: rgb(15, 29, 16);
    --SecoundBackgroundColor: rgb(45, 70, 46);
    --fontMain: rgb(194, 207, 129);
    --secoundFont: rgba(194, 207, 129,0.6);
}

*{
    margin: 0px; padding: 0px; box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--SecoundBackgroundColor);
}

@keyframes slideLeft {
    from{
        transform: translate(-100vw);
    }
    to{
        transform: translate(0);
    }
}
@keyframes slideRight {
    from{
        transform: translate(100vw);
    }
    to{
        transform: translate(0);
    }
}

.header-menu-box{
    font-weight: bolder;
    position: fixed;
    background-color: var(--MainBackgroundColor);
    box-shadow: 0px 1px 5px var(--fontMain);
    z-index: 999;
    width: 100vw;
}
.header-menu-title{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}
.header-menu-title img{
    height: 30px;
    width: 30px;
    filter: invert(1);
    animation: slideLeft 1s ease-in;
}
.header-menu-title img:hover{
    cursor: pointer;
}
.header-menu-options{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
.header-menu-options a{
    text-decoration: none;
    color: var(--fontMain);
    animation: slideRight 1s ease-in;
}
.header-menu-right-options{
    display: flex;
    gap: 10px;
}
.header-menu-right-options a{
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 5px 10px;
}
.header-menu-right-options a:hover{
    border: 1px solid var(--fontMain);
    transition: 0.7s ease;
}

.disclamer-box{
    width: 100vw;
    height: 45vh;
    box-shadow: 0px 1px 5px var(--fontMain);
    top: 50px;
    background-color: white;
}
.disclamer-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: slideLeft 1s ease-in;
}

.fighterCard-disclamer-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 80px 300px;
    gap: 100px;
}
.fighterCard-disclamer-box img{
    height: 200px;
    width: 350px;
    border-radius: 20px;
    animation: slideLeft 1s ease-in;
}
.fighterCard-disclamer-text{
    text-align: center;
    direction: rtl;
    animation: slideRight 1s ease-in;
    width: 350px;
    color: var(--fontMain);
}
.fighterCard-disclamer-text p{
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.info-box{
    display: flex;
    justify-content: space-between;
    color: var(--fontMain);
    width: 100vw;
    padding: 20px 100px;
    direction: rtl;
    align-items: center;
}
.info-box .info{
    border-radius: 20px 0px;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--fontMain);
    animation: slideLeft 1s ease-in;
}
.info-box .info p {
    padding-top: 10px;
}
.why-us-box{
    width: 50%;
    animation: slideRight 1s ease-in;
}
.why-us-box p{
    color: var(--secoundFont);
    padding: 3px;
}
.why-us-box .why-us-title{
    font-size: 24px;
    font-weight: bolder;
    color: var(--fontMain);
}

@media (max-width: 900px) {
    .info-box{
        flex-direction: column;
        width: 100vw;
        padding: 20px 20px;
    }
    .why-us-box{
        width: 100%;
    }
    .info-box .info{
        margin-top: 50px;
    }

    .fighterCard-disclamer-box{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        width: 100vw;
        padding: 20px 0px;
        gap: 20px;
    }
    .fighterCard-disclamer-box img{
        height: 100px;
        width: 200px;
    }
    .fighterCard-disclamer-text{
        text-align: center;
        direction: rtl;
        animation: slideRight 1s ease-in;
        width: 300px;
        color: var(--fontMain);
    }
    .fighterCard-disclamer-text p{
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
    }
}